<div class="card" [class.green]="user.gender == 'female'" (click)="onClick()">
  <div class="additional">
    <div class="user-card">
      <div class="level center">
        {{user.username}}
      </div>
      <div class="points center">
        {{user.born}}
      </div>
      <img [src]="user.avatar" class="center">
    </div>
    <div class="more-info">
      <h1>{{ user | fullName }}</h1>
      <div class="coords">
        <span>{{user.email}}</span>
    </div>
      <div class="coords">
        <span>{{user.phone}}</span>
        <span>{{user.location.street}}</span>
      </div>
      <div class="coords">
        <span>{{user.cell}}</span>
        <span>{{user.location.city}}, {{user.location.country}}</span>
      </div>
    </div>
  </div>
  <div class="general">
    <h1>{{ user | fullName }}</h1>
    <p>Poste: {{ user.position }}</p>
    <p>Naissance: {{ user.birthdate | date }}</p>
    <span class="more">Survoler la carte pour les détails</span>
  </div>
</div>